<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Employees</title>
</head>
<body>
<h1>Employee List</h1>
<table>
    <tr>
        <th>ID</th>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Contratos</th>
    </tr>
    <tr th:each="employee:${employees}">
        <td th:text="${employee.id}">123</td>
        <td th:text="${employee.firstName}">Juanito</td>
        <td th:text="${employee.lastName}">Doe</td>
        <td>
            <table>
                <tr th:each="contract:${employee.contracts}">
                    <td th:text="${contract.id}">123</td>
                    <td th:text="${contract.initDate}">Jhon</td>
                </tr>
            </table>
        </td>
    </tr>
</table>

</body>
</html>